<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.url">jdbc:postgres://ewknqcomndhiwf:eef59fd63a0717262b95f763a1d3df62343a3fa25f1b720023b0b9214d7f7bbc@ec2-54-195-247-108.eu-west-1.compute.amazonaws.com:5432/d7qtiamb0gjujv</property>
  <property name="hibernate.connection.username">ewknqcomndhiwf</property>
  <property name="hibernate.connection.password">eef59fd63a0717262b95f763a1d3df62343a3fa25f1b720023b0b9214d7f7bbc</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hbm2ddl.auto">update</property>
  <mapping class="com.yt.backendbeta.Entity.Batch"/>
  <mapping class="com.yt.backendbeta.Entity.BatchStudentList"/>
  <mapping class="com.yt.backendbeta.Entity.Course"/>
  <mapping class="com.yt.backendbeta.Entity.Enquiry"/>
  <mapping class="com.yt.backendbeta.Entity.EnquiryFollowUp"/>
  <mapping class="com.yt.backendbeta.Entity.Faculty"/>
  <mapping class="com.yt.backendbeta.Entity.Package"/>
  <mapping class="com.yt.backendbeta.Entity.Registration"/>
  <mapping class="com.yt.backendbeta.Entity.StudentFollowUp"/>
  <mapping class="com.yt.backendbeta.Entity.Student"/>
  <mapping class="com.yt.backendbeta.Entity.Price"/>
  
 </session-factory>
</hibernate-configuration>
